.about__column {
  &:nth-of-type(1) {
    justify-self: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 430px;
  }

  &:nth-of-type(2) {
    flex: 1;
    padding-top: 101px;
  }
}